*{
    font:var(--our-font);
}
#container{
    justify-content: center;
    width: 1000px;
    font-size:16px;	
	left:0;
	right:0;
	margin:auto;
	padding:20px 100px;
}
.form{
    background-color: white;
    margin: 20px;
    padding: 30px;
	border:2px solid var(--indigo-blue);
	border-radius:10px;
}
th{
    padding-right: 50px;
    padding-bottom: 20px;
    font-weight:bold;
    font-size:18px;   
}
td{
    padding-bottom: 20px;    
}
input#title{
    width: 700px;
    height: 40px;
    border-radius:10px;
}
#gatherContent{
    height: 200px;
    width: 700px;
/*     font-size: 16px; */
    border-radius:10px;    
}
#counter{
    margin-left: 620px;
}
.notice{
    text-align: center;
}
#gatherSubmit{
    background-color: var(--jjin-pink);
    border: 0;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 500px;
    height: 40px;
    font-size: 24px;
	border-radius:10px; 
	font-family:var(--short-font);  
}
#plus,#minus{
	background-color: var(--yeon-pink);
    height: 40px;
    width: 40px;
	border:0px;
	font-size:24px;
	border-radius:10px;
  	font-family:var(--short-font);
	font-weight:bold;
}
#countMember{
	font-size:24px;
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
}
#gatherMin,#gatherMax,#gatherTime{
    height: 30px;
    border-radius:10px;
}
input#findStore{
    height: 40px;
    width:200px;
    border-radius:10px;
}
.openBtn {
    margin-left: 5px;
    height: 27px;
	border-radius:10px;
    background-color: #DC948A;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    height:40px;
    font-weight:bold;
    
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modalBox {
    position: absolute;
    background-color: #F0EBEC;
    width: 500px;
    height: 300px;
    padding: 15px;
    overflow: auto;
}
.modalBox::-webkit-scrollbar{
    display: none;
}
.modalBox .closeBtn {
    display: block;
    width: 20px;
    border: 0;
    background-color: #F0EBEC;
    margin: 0 auto;
    margin-left: 475px;
}
.modalBox div{
	display:flex;
	align-item:center;
	justify-content:space-between;
}
.listBox{
    font-size: 20px;
}
.hidden{
  display: none;
}
.selectStore{
    display:flexbox;
}
#pilsu{
	color:#EE4949;
}
.modal-restaurant-title{
	position:relative;
	width:160px;
	font-size:18px;
	font-weight:bold;
	overflow:hidden;
}
.modal-restaurant-district{
	width:80px;
}
.modal-restaurant-type{
	margin-left:10px;
	width:100px;
}
.selectRestaurant{
	width:50px;
	height:30px;
	background-color:var(--jjin-pink);
	color:white;
	border:0;
}
#storeName{
	font-size:18px;
	font-weight:bold;	
}
li{
/* 	list-style:none; */
}
#ageChk,#genderChk{
	accent-color:var(--jjin-pink);
	transform:scale(1.5);
	background-color: rgba(0, 0, 0, 0.6);
}
