<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> <!-- NULL데이터 전달시 그대로 null로 대입 // 대소문자 구분 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 언드스코어를 카멜케이싱으로 자동변환--> <!-- DB이름에서 Java객체로 자동변환 가능케 해줌-->
	</settings>

	<typeAliases>
		<typeAlias type="org.springframework.security.core.authority.SimpleGrantedAuthority" alias="simpleGrantedAuthority"/>
		<package name="com.kh.spring"/> <!-- 이거쓰면 위에꺼 안써도 되는데, 클래스이름 중복 등등의 문제에는 오류를 일으킴.-->
	</typeAliases>

	<typeHandlers>
		<!-- <typeHandler handler="com.kh.spring.common.typehandler.StringArrayTypeHandler"/> -->
		<package name="com.kh.spring.common.typehandler"/> <!-- 이 패키지 아래의 모든 클래스 등록. 이거해주면 위에꺼 안해줘도 됨. -->
	</typeHandlers>
	
	<!-- environments하고 mapper는 root context에 등록됨 -->
</configuration>