footer{
	background-color: #F1F1F1;
}

.footer-container{
	width: fit-content;
	height: 200px;
	margin: 0px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
}

.footer-container ul{
	list-style: none;
	height : fit-content;
	width: 100%;
	margin: 38px 20px 20px 20px;
}

li{
	height : 40px;
}

.footer-container img{
	width: 300px;
	display: inline-block;
	margin : 15px 15px 15px 100px;
}

.footer-container li.service-info{
	font-size : 20px;
	padding-right : 15px;
	padding-button : 5px;
	cursor: pointer;
}

.footer-container li.company-info{
	display: block;
}

footer div#footer-container ul li{
	margin: 5px;
	text-align: center;
}

footer div#footer-container span{
	margin : 5px auto;
	text-align: center;
}

