/* sass -w .\scss\memberEnroll\member-enroll.scss  ..\src\main\webapp\resources\css\member-enroll\member-enroll.css */


/********** header **********/
header{
	font-family:var(--short-font);
	border-bottom : solid;
	border-bottom-width : 4px;
	border-color: #F2F2F2;
	height: 120px;
	background-color: #fff;
	padding: 10px 10px;
	position: sticky;
	top: 0;
	z-index: 10;
	margin:0 auto;
	font-family:var(--short-font);
}
body{
	margin:0px;
}

.header-container{
	display:flex;
	height: 110px;
   	margin: 0px auto;
   width: fit-content;
	overflow: hidden;
}

.header-container *{
	margin-left : 10px;
}

.header-container *{
	display: inline-block;
 	text-decoration : none;
	color: inherit;
	font-weight: bolder;
}

.header-container div.common-container {
	display: flex;
	justify-content:center;
	align-items: center;
	padding : 0px 10px;
	vertical-align : middle;
}

.header-container div.common-container img{
	height: 100px;
 	margin:0;
}

.header-container div.common-container form{
	padding-top:5px;
	margin:0;
}

.header-container div.common-container form input{
	width : 250px;
	height: 35px;
    margin: 0px 0px 0px 0px;
    border-radius: 7px;
}

.header-container div.common-container form button{
	font-size : 20px;
	font-family: 'Happiness-Sans-Title';
	height: 35px;
    border-radius: 7px;
}

.nonlogin-container ul{
	margin-top : 45px;
}

.nonlogin-container ul li{
	display: inline-block;
	padding-right : 10px;
	margin-right : 10px;
	font-size : 20px;
	cursor: pointer;
	text-decoration : none;
}

.nonlogin-container ul li:hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.login-container{
	display: flex;
	align-items:center;
	vertical-align : middle;
	height: 120px;
}

.login-container *{
	display: inline-block;
	vertical-align : middle;
	font-family:var(--short-font);
	
}

.login-container img{
	height: 35px;
    width: 35px;
    margin-left : 15px;
    margin-right : 0px;
    margin-bottom : 5px;
}

.login-container ul{
	margin-right : 0px;
	padding-left : 30px;
}

.login-container ul li{
	margin-right : 10px;
	font-size : 20px;
	cursor: pointer;
	text-decoration : none;
}

.login-container button{
    border: 0;
    outline: 0;
	font-size : 20px;
	font-family : 'Happiness-Sans-Title',sans-serif;
	background-color:transparent;
	padding-bottom : 2px;
	padding-left : 1px;
	margin-left : 0px;
}

.login-container ul li a:hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.login-container button:hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}