@import "../../configs/variables.scss";




body{
  background-color: $Bright-Gray;
}

#content-root {
  width: 1024px;
  margin: 10px auto;
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    aside {
      user-select: none;
      width: 22%;
      border: 5px solid $Petite-Orchid;
      border-radius: 30px;
      background-color: $Near-White;
      h1 {
        margin: 25px 10px 20px 10px;
        padding-bottom: 15px;
        font-size: 36px;
        text-align: center;
        border-bottom: 3px solid $Dark-Gray;
        font-family: $Font-Happiness;
      }
      ul{
        font-family: $Font-Happiness;
        font-size: 22px;
        padding-left: 10px;
        li{
          &::before{
            content: '\279C';
            padding-right: 10px;
          }
          a{
            padding: 5px;
            display: inline-block;
            width: 165px;
            text-decoration: none;
            color: black;
          }
        }
        
        list-style-type: none;
        .active {
          // color: $Bright-Gray;
          text-align: center;
          transition-duration: 0.3s;
          padding: 5px;
          border-radius: 10px;
          font-family: $Font-Happiness;
          text-decoration: none;
          &.lavender{
            background-color: $Lavender;
          }
          &.rose{
            background-color: $Rose-Fog;
          }
          &.indigo{
            background-color: $Indigo-Blue;
            color: $Near-White;
          }
          &.orange{
            background-color: $Petite-Orchid;
          }
        }
      }

    }
    section {
      width: 74%;
      border: 5px solid $Petite-Orchid;
      background-color: $Near-White;
      border-radius: 30px;
      min-height: 800px;
      padding: 5px;
      h1 {
        font-size: 36px;
        margin: 20px 10px 10px;
        padding-bottom: 15px;
        border-bottom: 3px solid $Dark-Gray;
        font-family: $Font-Happiness;
      }
      .user-info-wrapper {
        form {
          margin: 20px auto;
          table {
            margin: 10px auto;
            border-spacing: 10px;
            td {
              // border: 1px solid red;
              &.label{
                font-family: $Font-Happiness;
                font-size: 24px;
                padding-right: 10px;
                border-right: 3px solid $Indigo-Blue;
              }
              &.input{
                width: 60%;
                font-family: $Font-Nanum;
                font-size: 18px;
                input{
                  font-family: $Font-Nanum;
                  font-size: 18px;
                  border:2px solid $Lavender;
                  border-radius: 10px;
                  width: 100%;
                  height: 30px;
                  &:disabled{
                    background-color: $Dark-Gray;
                  }
                }
                .gender-item{
                  display: flex;
                  // border : 2px solid red;
                  span{
                    padding-right: 5px;
                    border-right: 3px solid $Rose-Fog;
                    margin-right: 5px;
                  }
                  label{
                    display: flex;
                    align-items: center;
                  }
                  input[type='radio']{
                    width: 40px;
                    accent-color: $Red;
                  }
                }
              }
              div {
                display: flex;
              }
              #nameCheckBtn{
                cursor: pointer;
                font-family: $Font-Happiness;
                height: 36px;
                border-radius: 10px;
                border: 2px solid $Indigo-Blue;
                background-color: $Lavender;
                &:disabled{
                  cursor: default;
                  background-color: $Gray;
                }
              }
            }
            &.basic-info{
              border-bottom: 3px solid $Petite-Orchid;
            }
          }
          img {
            cursor: pointer;
            width: 35px;
            height: 35px;
          }
          div.select-wrapper {
            margin-bottom: 20px;
            padding-left: 50px;
            display: flex;
            justify-content: center;
            h2{
              margin: 5px 0px 10px 0px;
            }
            .district-wrapper {
              width: 40%;
              .district-selection {
                display: flex;
                flex-wrap: wrap;
                div.district-item {
                  width: 40%;
                  margin-bottom: 5px;
                  accent-color: $Red;
                  label{
                    font-size: 18px;
                    padding-left: 5px;
                    font-family: $Font-Nanum;
                  }
                }
              }
            }
            .foodtype-wrapper {
              width: 40%;
              .foodtype-selection {
                width: 200px;
                margin: 0px auto;
                .foodtype-item{
                  margin-bottom: 5px;
                  accent-color: $Red;
                  label{
                    font-size: 18px;
                    padding-left: 5px;
                    font-family: $Font-Nanum;
                  }
                }
              }
            }
          }
        }
        .button-wrapper {
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            cursor: pointer;
            width: 450px;
            height: 40px;
            color: $Near-White;
            background-color: $Petite-Orchid;
            font-size: 24px;
            vertical-align: middle;
            border-radius: 10px;
            border: 2px solid $Petite-Orchid;
            &:hover{
              transition-duration: .2s;
              box-shadow: 0px 0px 10px 10px $Rose-Fog;
            }
          }
        }
        .alert {
          opacity: 1;
          transition-duration: 0.2s;
          position: absolute;
          top: 40%;
          left: 50%;
          display: flex;
          flex-direction: column;
          background-color: $Rose-Fog;
          padding: 20px;
          border-radius: 15px;
        }
      }

      .password-change-wrapper {
        font-family: $Font-Nanum;
        .password-form {
          margin: 30px auto;
          display: flex;
          justify-content: center;
        }
        form {
          table{
            width: 500px;
            border-spacing: 5px;
            td {
              &.title{
                width: 150px;
                font-family: $Font-Happiness;
                font-size: 24px;
                padding-right: 5px;
                border-right: 3px solid $Indigo-Blue;
              }
              &.input input{
                width: 100%;
                height: 24px;
                font-family: $Font-Nanum;
                font-size: 18px;
                border: 2px solid $Lavender;
                border-radius: 10px;
              }
              &.warning-text{
                text-align: right;
                color: $Red;
              }
              div{
                width: 30px;
                padding-left: 10px;
                display: flex;
                align-items: center;
              }
            }
            img {
              cursor: pointer;
              width: 30px;
              height: 30px;
            }
          }
          .button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            button {
              border-radius: 10px;
              border: 2px solid $Petite-Orchid;
              width: 240px;
              height: 50px;
              font-size: 24px;
              font-family: $Font-Happiness;
              cursor: pointer;
              &:disabled{
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}

.notification-wrapper {
  min-height: 20px;
  .notification-item {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: $Font-Nanum;
    &.unread {
      transition: 0.3s;
      border: 5px solid $Petite-Orchid;
      max-height: 40px;
      overflow: hidden;
    }
    &.read {
      transition: 0.3s;
      border: 5px solid $Indigo-Blue;
      max-height: 40px;
      overflow: hidden;
    }
    &.reading {
      transition: 0.5s;
      overflow: hidden;
      border: 5px solid $Lavender;
      min-height: 40px;
      max-height: 500px;
      .title {
        border-bottom: 2px solid $Dark-Gray;
      }
    }
    &.squish {
      transition-duration: 0.3s;
      padding: 0px 15px;

      max-height: 0px;
      opacity: 0;
      overflow: hidden;
    }
    // &.hide{
    //   opacity: 0;
    //   height: 40px;
    //   display: none;
    //   overflow: hidden;
    // }

    .header {
      .read-mode {
        font-family: $Font-Nanum;
        font-weight: bold;
        padding-top: 10px;
        float: right;
      }
    }
    .title {
      font-size: 16px;
      font-family: $Font-Happiness;
      padding-bottom: 5px;
    }
    .content {
      margin: 20px 0px;
    }

    span.type {
      padding-right: 5px;
      border-right: 2px solid $Indigo-Blue;
      margin-right: 5px;
    }
    div.content-text {
      margin-bottom: 20px;
    }
    div.buttons {
      display: flex;
      height: 50px;
      justify-content: space-around;
      align-items: center;
      button{
        font-size: 18px;
        font-family: $Font-Happiness;
        cursor: pointer;
        width: 200px;
        height: 40px;
        border: 2px solid $Petite-Orchid;
        border-radius: 15px;
        &:hover{
          transition-duration: .3s;
          box-shadow: 0px 0px 5px 5px $Petite-Orchid;
        }
      }
    }
    .delete {
      float: right;
      width: fit-content;
      padding: 5px;
    }
  }
  .clickable {
    cursor: pointer;
  }
  h2 {
    text-align: center;
    font-family: $Font-Happiness;
    font-size: 40px;
  }
}

.focus {
  border: 3px solid red;
}
.hidden {
  display: none !important;
}
.fade-in-box {
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.myfavorites-wrapper {
  .favrow {
    padding-bottom: 10px;
    border-bottom: 3px solid $Petite-Orchid;
    &:last-of-type{
      border: none;
    }
    .favitem-wrapper {
      display: flex;
      // border: 3px solid $Petite-Orchid;
      justify-content: space-around;
      .favitem {
        background-color: $Gray;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        .title {
          margin-top: 5px;
          font-family: $Font-Happiness;
          font-size: 18px;
        }
        .image-wrapper {
          img {
            border-radius: 10px;
            border: 2px solid $Indigo-Blue;
            width: 150px;
            height: 135px;
          }
        }
        .info {
          font-family: $Font-Nanum;
          margin-top: 15px;
          font-size: 16px;
          .fav-button-wrapper {
            float: right;
            padding-right: 2px;
            img {
              cursor: pointer;
            }
          }
          .left {
            padding-right: 5px;
            border-right: 2px solid $Indigo-Blue;
            margin-right: 5px;
          }
        }
      }
    }
    .favinfo {
      background-color: $Gray;
      border-radius: 15px;
      h1 {
        button {
          float: right;
          height: 45px;
          margin-right: 30px;
          background-color: $Rose-Fog;
          border: 2px solid $Petite-Orchid;
          border-radius: 10px;
          font-size: 16px;
          cursor: pointer;
          &:hover{
            transition-duration: 0.2s;
            box-shadow: 0px 0px 5px 5px $Petite-Orchid;
          }
        }
      }
      &.close {
        transition-duration: 0.3s;
        overflow: hidden;
        max-height: 0;
      }
      &.open {
        transition-duration: 0.3s;
        overflow: hidden;
        margin: 10px 5px;
      }
      .favinfo-content {
        font-family: $Font-Nanum;
        display: flex;
        justify-content: space-around;
        margin: 20px 0px;
        
      }
    }
  }
}

.mygather-wrapper{
  h2{
    text-align: center;
    font-size: 28px;
  }
  >div{
    
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $Gray;
    border-radius: 10px;
    .gather-item{
      margin:10px auto;
    }
    &.past-gather{
      position: relative;
      z-index: 0;
      border-radius: 10px 10px 0px 0px;
      &.rounder{
        border-radius: 10px !important;
      }
    }
    &.load-more{
      cursor: pointer;
      border-radius: 0px 0px 10px 10px;
      height: 60px;
      background-color: $Dark-Gray;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-family: $Font-Happiness;
      margin-bottom: 100px;
      position: relative;
      &.hide{
        transition-duration: .3s;
        transform: translateY(-60px);
        // display: none;
        &::after{
          z-index: -10;
        }
      }
    }
  }
}

.secede-wrapper{
  .secede-form{
    display: flex;
    justify-content: center;
    td{
      font-family: $Font-Happiness;
      font-size: 24px;
      &.input{
        padding-left: 10px;
      }
      &.title{
        padding-right: 10px;
        border-right: 2px solid $Indigo-Blue;
        
      }
      input{
        height: 26px;
        width: 250px;
        border: 2px solid $Lavender;
        border-radius: 10px;
      }
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 30px;
          height: 30px;
        }
      }

    }
    .button-wrapper{
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        cursor: pointer;
        border: 2px solid $Petite-Orchid;
        border-radius: 10px;
        width: 220px;
        height: 30px;
        font-family: $Font-Happiness;
        font-size: 20px;
      }
    }
  }
}

.gather-item {
  padding: 10px;
  border: 3px solid $Indigo-Blue;
  background-color: $Near-White;
  border-radius: 15px;
  width: 29%;
  cursor: pointer;
  h2.title {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid $Lavender;
    font-size: 19px;
  }
  div{
    margin-bottom: 10px;
    font-size: 18px;
    #restaurant-name{
      font-weight: bold;
      &::before{
        content: "@";
        padding-right: 5px;
      }
    }
    #district{
      font-weight: bold;
      padding-right: 10px;
      border-right: 2px solid $Lavender;
    }
    #food-type{
      font-weight: bold;
      padding-left: 10px;
    }
  }
  .restrictions{
    padding-top: 10px;
    border-top: 2px solid $Lavender;
  }
  &:hover{
    transition-duration: .2s;
    box-shadow: 0px 0px 10px 10px $Lavender;
  }
}