*{
    font:var(--our-font);
}
body {
	background-color: #F0EBEC;
	text-align: center;
}
h2 {
	border-bottom: 1px gray solid;
	padding-bottom: 10px;
	width: 500px;
	display: flex;
	position: relative;
	justify-content: space-around;
	margin-inline: auto;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}
th{
	text-align: left;
	width: 125px;
	font-weight: bold;
}
table{
	border-spacing: 10px;
	margin: 10px auto;
}
#findIdFrm {
	margin: 0 auto;
}
#btn1 {
	width: 440px;
	height: 40px;
	background-color: #3A3C68;
	color: white;
	font-size: 20px;
/* 	font-weight: bold; */
	padding: 1px 0;
}
#findId span {
	color: red;
	margin: 15px auto;
	font-weight: bold;
}
#findId {
	margin: 30px;
}
#resetPw span {
	color: red;
	margin: 15px auto;
	font-weight: bold;
}
#resetPw {
	margin: 30px;
}
input {
	width: 250px;
	height: 25px;
	font-size: 12px;
}