@use './root.css';
$Petite-Orchid : #DC948A;
$Rose-Fog :#ECC7C5;
$Lavender : #81A6D3;
$Indigo-Blue : #3A3C68;
$Red : #EE4949;
$Near-White : #FEFEFE;
$Bright-Gray :  #F0EBEC;
$Gray : #e3e3e3;
$Dark-Gray : #b8b8b8;

$Font-Happiness : 'Happiness-Sans-Title';
$Font-Nanum : "NanumBarunGothic";