<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eatwith.gather.model.dao.GatherDao">

	<select id="getNearClosure" resultType="CustomMap">
		select
		    r.*,
		    rest.name,
		    rest.dong,
		    (select image_name from review_image ri where ri.restaurant_no = r.restaurant_no and rownum=1) as image_source,
		    (select count(*) from member_gather where gather_no = r.no) as enrolled_count,
		    (select type from food_type where rest.food_code = code) as food_type,
		    (select count(*) as avg_score from review where restaurant_no = r.restaurant_no) as review_count,
	    	(select avg(overall_score) from review where  restaurant_no = r.restaurant_no) as avg_score
		from(
		    select
		        r.*
		    from(
		        select
		            g.*,
		            (meet_date-current_date) as remaining_time
		        from
		            gather g
		        where
		            (meet_date-current_date)>0 
		    order by g.meet_date
		    ) r
		    where rownum &lt;= 8
		) r join restaurant rest on r.restaurant_no = rest.no
	</select>


	<select id="getGatherList" resultType="CustomMap">
	  	select 
	        g.no,g.restaurant_no,r.name,g.title,g.count,g.meet_date,g.food_code,f.type,g.district_code,d.name as loca_name,g.content,g.user_no,g.age_restriction_top,g.age_restriction_bottom,g.gender_restriction
		from
	        gather g join district d on g.district_code=d.code
	        left join food_type f on g.food_code=f.code
	        left join (select no,name from restaurant) r on g.restaurant_no=r.no
		order by g.no desc
	</select>
	
	<select id="getOneGather" resultType="CustomMap">
	select 
        g.no,g.restaurant_no,r.name,g.title,g.count,g.meet_date,g.food_code,f.type,g.district_code,d.name as loca_name,g.content,g.user_no,g.age_restriction_top,g.age_restriction_bottom,g.gender_restriction
	from
        gather g join district d on g.district_code=d.code
        left join food_type f on g.food_code=f.code
        left join (select no,name from restaurant) r on g.restaurant_no=r.no
	where g.no=#{g.no}
	order by g.no desc
	
	</select>
	
	<select id="getNewestGatherings" resultType="CustomMap">
		select 
	    g.*,
	    (select count(*) from member_gather where gather_no = g.no) as enrolled_count,
	    (select type from food_type f where g.food_code = f.code) as food_type,
	    (select name from district d where g.district_code = d.code) as district_name,
	    (select name from restaurant rest where rest.no = g.restaurant_no) as restaurant_name
		from 
	    (select * from gather order by no desc) g
		where  rownum <![CDATA[<=]]> ${no}
	</select>
	
	<select id="getGatherByLocation" resultType="Gather">
		select *
		from gather
		where district_code in 
		<foreach collection="checkloca" item="code" separator="," open="(" close=")">
			#{code}
		</foreach>
	</select>
	
	<select id="gatherMore" resultType="CustomMap">
        select * from(
	  	select 
	        g.no,g.restaurant_no,r.name,g.title,g.count,g.meet_date,g.food_code,f.type,g.district_code,d.name as loca_name,g.content,g.user_no,g.age_restriction_top,g.age_restriction_bottom,g.gender_restriction
		from
	        gather g join district d on g.district_code=d.code
	        left join food_type f on g.food_code=f.code
	        left join (select no,name from restaurant) r on g.restaurant_no=r.no
                order by g.no desc
                )
        OFFSET #{page} ROWS FETCH FIRST 9 ROWS ONLY
	</select>
</mapper>