<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.eatwith.gather.model.dao.GatherDao">
	<select id="getGatherList" resultType="CustomMap">
	  	select 
	        g.no,g.restaurant_no,r.name,g.title,g.count,g.meet_date,g.food_code,f.type,g.district_code,d.name as loca_name,g.content,g.user_no,g.age_restriction_top,g.age_restriction_bottom,g.gender_restriction
		from
	        gather g join district d on g.district_code=d.code
	        left join food_type f on g.food_code=f.code
	        left join (select no,name from restaurant) r on g.restaurant_no=r.no
		order by g.no desc
	</select>
	<select id="getOneGather" resultType="CustomMap">
	select 
        g.no,g.restaurant_no,r.name,g.title,g.count,g.meet_date,g.food_code,f.type,g.district_code,d.name as loca_name,g.content,g.user_no,g.age_restriction_top,g.age_restriction_bottom,g.gender_restriction
	from
        gather g join district d on g.district_code=d.code
        left join food_type f on g.food_code=f.code
        left join (select no,name from restaurant) r on g.restaurant_no=r.no
	where g.no=#{g.no}
	order by g.no desc
	
	</select>
	
</mapper>